.page-setting-container {
  padding: 16px
}

.page-setting-container .prop-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.page-setting-container .prop-item label {
  width: 28%;
}

.page-setting-container .prop-item .prop-component {
  width: 70%;
}
