.props-container .prop-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.props-container .prop-item label {
  width: 28%;
}

.props-container .prop-item .prop-component {
  width: 70%;
}

.props-container .prop-item.no-text {
  display: inline-block;
  margin: 0 10px 0 0;
}

#item-fontWeight {
  margin-left: 28%;
}




