.personal-info {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.personal-info .avatar {
  min-width: 400px;
}

.personal-info .form {
  margin-top: 20px;
}