.app .template-list {
  flex: 1 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow: auto;
}
.app .template-item {
  width: 320px;
  height: 480px;
  margin: 0 10px 20px;
  border: 1px solid #eee;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}
